@use './partials/mixins' as *;
@use './partials/variables' as *;

* {
    @include reset;
    font-family: 'Roboto', sans-serif;
}
.container {
    @include container;
    @include flex;
}
// header
header {
    height: 6rem;
    background-color: $white;
}
.nav-list {
    @include flex;
    list-style: none;

    li{
        transition: border-bottom 0.3s ease;
    }
    li:hover{
        @extend li;
        border-bottom: $borderHbottom solid $theme-color;
    }
}
h1 {
    color: white;
    font-weight: 700;
}

// main
main {
    #content {
        height: 7rem;
    }

    #categories {
        height: 7rem;
        width: 100%;
        background-color: $theme-color;
    }
}
// categories
.comics-categ{
    @include flex-evenly;
    width: 100%;
    height: 100%;
}
.comic-card{
    @include flex-evenly;
    height: 100%;
    list-style: none;
    transition: scale 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);

    .comic-img{
    height: 2.3rem;
    }
    p{
        font-size: .75rem;
        color: $white;
        margin-left: 5px;
    }
    &:hover{
        transform: scale(1.25);
        font-weight: bold;
    }
}
// footer
