@use './partials/mixins' as *;
@use './partials/variables' as *;

* {
    @include reset;
}

.container {
    @include container;
    @include flex;
}

// header
header {
    height: 6rem;
    background-color: $header-color;
}

.nav-list {
    @include flex;
    list-style: none;
}

// main
main {
    height: 12rem;

    #categories {
        height: 6rem;
        border: 2px solid black;
    }
}